.label {
    padding-right: 0.25em;
}

table {
    border: 1px solid black;
	background-color: #EEEEEE;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
    
}

td {
	border: 1px solid black;	
} 
